@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma_Regular.ttf") format("truetype") !important;
  src: url("../fonts/TAHOMA_0.TTF") format("truetype") !important;
  src: url("../fonts/TAHOMAB0.TTF") format("truetype") !important;
  src: url("../fonts/TAHOMABD.TTF") format("truetype") !important;
}

.font_tahoma {
  font-family: Tahoma regular !important;
}
.txt_center {
  align-items: center;
}
.btn {
  font-family: Tahoma regular !important;
}
.text-left {
  text-align: left !important;
  height: 50px;
  font-family: tahoma regular !important;
}
