.bg-grey-light {
  background-color: #6d6d6d;
}
.txt-grey-light {
  color: #6d6d6d;
}

.bg-grey-dark {
  background-color: #393939;
}
.txt_wht {
  color: white;
}

.bg-white {
  background-color: #ffffff !important;
}

.button-yellow,
.card-yellow {
  background-color: #f9bb30;
}

.bg-wrong {
  background-color: #fec3c3;
}

.bg-right {
  background-color: #9efb87;
}

.txt-grey-dark {
  color: #393939;
}
.bg-grey-dark {
  color: #393939;
}

.txt-yellow {
  color: #ffcc2a;
}
.bg-yellow {
  background-color: #ffcc2a;
}
.ico_clr {
  color: #414141;
}
.seg_clr {
  color: #a8a8a8;
}
